<div class="container py_8">
    <div class="row">
        <div class="col-md-8">
            <div class="room_main_image">
                <img [src]="'https://backend.staybook.pk/public/images/' + roomData.image[mainImageIndex].room_image" alt="">
              </div>
              <div class="room_images" [ngClass]="{'room_imagesOverflow': roomData.image.length > 2}">
                <div class="d-flex gap-2">
                  <div class="w-100" *ngFor="let item of roomData.image; let i = index" (click)="changeMainImage(i)" [ngClass]="{'active': i === mainImageIndex}">
                    <img [src]="'https://backend.staybook.pk/public/images/' + item.room_image" alt="">
                  </div>
                </div>
              </div>
            <h2 class="m-0">Room {{roomData.display_name}}</h2>
            <p>{{roomData.type}}</p>
            <div class=" room_details mt-3">
                <ul>
                    <li><img src="../../../assets/img/icon/double-bed.png" alt=""> Double Bed: {{roomData.double_bed}}</li>
                    <li><img src="../../../assets/img/icon/single-bed.png" alt=""> Single Bed: {{roomData.single_bed}}</li>
                    <li><img src="../../../assets/img/icon/sleep.png" alt="">Maximum Sleep : {{roomData.maximum_sleep}}</li>
                    <li><img src="../../../assets/img/icon/house.png" alt="">Room Size : {{roomData.size}}</li>
                </ul>
                <h4>Amenities</h4>
                <ul>
                    <li *ngFor="let item of roomData.amenities">
                        <img src="../../../assets/img/icon/check-mark.png" alt=""> {{item.amenity_list.name}}
                    </li>
                </ul>
                <h4>Season</h4>
                <ul class="season">
                    <li>Weekday Price <span>Rs {{decimalPipe.transform(roomData.rate_plan.week_days_price, '1.0-0')}}</span></li> 
                    <li>Weekend Price <span>Rs {{decimalPipe.transform(roomData.rate_plan.weekends_price, '1.0-0')}}</span></li> 
                </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room_reservation">
          <div class="loading_wrap" *ngIf="loading">
            <span class="loader"></span>
          </div>
            <h2>Reserve</h2>
            <div class="price_summry">
                <h4>Your price summary</h4>
                <p>{{roomData.fromDate.day +' '+ months[roomData.fromDate.month - 1] +'-'+ roomData.fromDate.year}} To {{roomData.toDate.day +' '+ months[roomData.toDate.month - 1] +'-'+ roomData.toDate.year}}</p>
                <ul>
                  <li>Original price<span>PKR {{decimalPipe.transform(roomData.totalPrice,'1.0-0')}}</span></li>
                  <li>Discount <span>0%</span></li>
                  <li>Total <span>PKR {{decimalPipe.transform(roomData.totalPrice,'1.0-0')}}</span></li>
                </ul>
            </div>
            <div class="coupon_code">
              <h4>Discount Coupon</h4>
             <form>
              <input type="text" placeholder="Enter coupon code">
              <button>Apply</button>
             </form>
            </div>
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName" required>
                <div class="invalid-feedback" *ngIf="form.controls.firstName.invalid && (form.controls.firstName.dirty || form.controls.firstName.touched)">
                  <div *ngIf="form.controls.firstName.errors.required">
                    First Name is required.
                  </div>
                </div>
              </div>

             
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName" required>
                <div class="invalid-feedback" *ngIf="form.controls.lastName.invalid && (form.controls.lastName.dirty || form.controls.lastName.touched)">
                  <div *ngIf="form.controls.lastName.errors.required">
                    Last Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" required>
                <div class="invalid-feedback" *ngIf="form.controls.phoneNumber.invalid && (form.controls.phoneNumber.dirty || form.controls.phoneNumber.touched)">
                  <div *ngIf="form.controls.phoneNumber.errors.required">
                    Phone Number is required.
                  </div>
                </div>
              </div>
            
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" formControlName="email" required>
                <div class="invalid-feedback" *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
                  <div *ngIf="form.controls.email.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="form.controls.email.errors.email">
                    Invalid email format.
                  </div>
                </div>
              </div>
            
              <div class="form-group">
                <label for="identityNumber">Identity Number:</label>
                <input type="text" id="identityNumber" class="form-control" formControlName="identityNumber" required>
                <div class="invalid-feedback" *ngIf="form.controls.identityNumber.invalid && (form.controls.identityNumber.dirty || form.controls.identityNumber.touched)">
                  <div *ngIf="form.controls.identityNumber.errors.required">
                    Identity Number is required.
                  </div>
                </div>
              </div>
              <button type="submit" class="theme_btn mt-2">Reserve</button>
            </form>            
        </div>
    </div>
    </div>
</div>